     <div class="comment-indent">
    	<p>{{comment.content}}</p>
    
		<form method="post" action="/commentreply" id={{comment._id}}>
		<input type="hidden" value={{comment._id}} name="id">
		<input type="hidden" value={{postId}} name="postid">
		<input type="comments" value="" name="comments">
		<input type="submit" value="Submit Reply">

	</form>

	{{#each comment.replies}}
	{{> comment comment=this postId=../postId}}
	{{/each}}

</div>