<div class="post">
	<h1>{{post.title}}</h1>
	<h3>{{post.content}}</h3>
	
    <form method="post" action="/reply" id={{post._id}}>
		<input type="hidden" value={{post._id}} name="id">
		<input type="comments" value="" name="comments">
		<input type="submit" value="Submit Reply">
	
	</form>
	<ul>
	{{#each post.replies}}

		{{> comment comment=this postId=../post._id }}
		{{/each}}
	</ul>
</div>